.crossbar
*.pyc
.env
test.py
__pycache__/
volumes/
.pyenv/
test.sh
src/tools/logs/*.log
*.log
src/tools/logs/console_history.log
src/tools/logs/console_history.log
src/tools/logs/db_error.log
src/tools/palette_cache/*
src/tools/png/*
